
.row{
    margin-top:3rem;
    margin-bottom: 3rem;
}
ul{
  justify-content: center;
  text-align: center;
  margin-left:5rem;
  position:absolute;

}
ul li{
    float: left;
    justify-content: space-between;
    margin:5px;
    list-style-type: none;
    max-width: 450px;
}
.head{
  font-weight:bold;
  font-size:24px;
}
.border{
    border-left:1px solid black;
}
