<!-- <p>design-acrylic-name-plate works!</p> -->


<div class="container">
  <div class="row">
    <div class="col-4">
        <figure>
            <img src="../../../assets/images/acrylic-print/camara2.png" width="26" height="26"/>
            <figcaption>Camara</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/images/acrylic-print/stickers.png" width="26" height="26"/>
            <figcaption>Camara</figcaption>
        </figure>
    </div>
     
  </div>


    <div class="row">
       <div class="col">
          <p class="head">White and Blue Glass Design Acrylic Name Plate</p>

          <p class="para"> <strong>Just tap or click on text to edit text </strong> Give your home an identity with our premium acrylic name plates. Personalise your name plate with desired font, colour or background colour. <strong> Free & Non-Breakable:</strong> Acrylic picture frame is scratch free and is tough to break.<strong>Waterproof UV printing:</strong>  Imported high quality Acrylic sheet With our acrylic name plate you can give your home an identity. We product acrylic name plates on 720x1800 DPI with advanced UV inks, that will last for decades.</p>
       </div>
    </div>
</div>