<app-header></app-header>
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 my-1">
            <div class="text-center">
                <h2 class="headTitle">Customised Premium Acrylic Picture</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 my-1">
            <div class="wallbg">

            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="slidecontainer d-flex justify-content-center">
                <label class="range_label me-4" for="">-</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <label class="range_label ms-4" for="">+</label>
            </div>
            <div class="text-center">
                <p id="zoom_text">Zoom is limited to preserve quality</p>
            </div>
        </div>
    </div>



</div>
<app-footer></app-footer>
