<!-- Site footer -->
<div class="p-2 ">
  <img src="../../../assets/images/home-page-images/trust.jpg" style="width: 100%; max-width: 620px; display: block; margin: 30px auto;">
  <img src="../../../assets/images/home-page-images/courier-icons-1-min.png" style="max-width: 320px; display: block; margin: 10px auto;">
</div>

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <div class="is-divider"></div>
          <p class="text-justify" style="font-weight: 400; font-size: 16px;">Q-Frames.com 
            OMGS™ - India's fastest growing customised gift store where your search for personalised gifts ends.
            Delivered 3 million personalised products since 2016.
            Contact us for bulk orders.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <div class="is-divider"></div>
            <ul class="footer-links" style="font-weight: 400; font-size: 16px;">
              <li><a href="#">135000+ Customer Reviews</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>  
              <li><a href="#">Refund or Return Policy</a></li>
              <li><a href="#">Track Your Order</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>

        <div class="col-xs-6 col-md-3">
          <h6>Need Help?</h6>
          <div class="is-divider"></div>
          <p style="font-weight: 400; font-size: 17px;">Email: suport@qtonz.com</p>
          <p  style="font-weight: 400; font-size: 17px;" > <i class="fa fa-phone" aria-hidden="true"></i> 9876543210 </p>
          <p  style="font-weight: 600; font-size: 20px;">Bulk Enquiry / Reseller</p>
        </div>

        

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">Q-Frames.com</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
