<div class="container">
    <!-- Case search header start -->
    <div class="row" style="padding-top: 90px;">
        <div class="col-md-12 col-12">
            <div class="section-content">
                <div class="container section-title-container">
                    <h3 class="section-title section-title-center">
                        <b></b>
                        <span class="section-title-main">FIND YOUR PHONE CASE</span>
                        <b></b>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Case search header end -->
</div>


<!-- perallax Scroler Start -->
<div id="parallax-world-of-ugg">

    <section class="pb-5">
        <div class="container">
            <p class="top-p"><span>Define your style with a personally designed product from our store. It is
                    time to change the trend and elevate your style quotient. With our customization tools, you can
                    design your own products. From selecting the picture for printing to adding personal messages on
                    phone covers, we give you the opportunity to personalize your order to the last inch.</span></p>

            <p class="top-p"><span>It's never been easier to shop online from the comfort of your own home.
                    Trends may be brought to your home with a few simple actions. Begin by selecting your phone model,
                    since this will direct you to the appropriate template. After that, upload the photo you wish to be
                    printed on the back of your phone case. Try out a few different backgrounds and pick your favorite.
                    To complete the customization, add text, emoticons, quotes, and so on. Examine your completed work
                    and place your order by entering your information. That wraps up the shopping.</span></p>

            <p class="top-p"><span>Acrylic photo
                    prints in landscape, portrait, square-shaped orientations. Our innovative UV printing
                    technology distinguishes us as the top online retailer for acrylic photo prints in India. UV
                    printing is a sort of digital printing that uses ultraviolet (UV) light to almost rapidly dry or
                    cure the ink, adhesives, and varnishes once they've been put to the paper. Your image is printed
                    directly under the acrylic layer to give it a bright and sparkling appearance. With our designing
                    tool, it only takes a few clicks to order your customized product. We will take care of the
                    rest!</span></p>
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <div class="container">
                <h2>Why choose Q-Frame ?</h2>
                <p><span style="font-weight: 400">Whether it's photo paper, photo frames, matting-free picture frames,
                        or photo canvas, <strong>OMGs the premier photo printing service</strong>, only uses materials
                        from carefully selected partners to ensure the greatest quality. Our staff in our online photo
                        lab handles each step, from order to production, with the highest care.</span></p>

                <p><span style="font-weight: 400">We ensure that your orders are delivered to your home as quickly as
                        possible thanks to our nationwide presence. We've worked with some of India's leading courier
                        service companies, including Bluedart and Delhivery, to ensure that your items arrive on time.
                        The average delivery time for metro cities is 1-3 days, while delivery time for smaller
                        locations might range from 3 to 7 days following dispatch. More than 10000 evaluations and
                        recommendations attest to OMGs photo goods' perfect quality. You can find these in our reviews
                        section where our ever-increasing family narrates their experience.</span></p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="section-content pt-5">
                        <div class="container section-title-container">
                            <h3 class="section-title section-title-center">
                                <b></b>
                                <span class="section-title-main">FREQUENTLY ASKED QUESTIONS</span>
                                <b></b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-11 mx-auto">

                    <!-- Accordion -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">

                      <!-- Accordion item 1 Not doing *ngFor-->
                      <div style="border-bottom:1px solid #ddd"></div>
                      <div class="accordion-item" *ngFor="let qna of questions">
                        <h2 class="accordion-header" [id]="qna.idOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse'+qna.number" aria-expanded="false" [attr.aria-controls]="'qna.controls'+qna.controls">
                            {{qna.title}}
                          </button>
                        </h2>
                        <div [id]="qna.idSecond" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">{{qna.answ}}</div>
                        </div>
                      </div>
<!-- 
                         Accordion item 1 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading0 " style="border-top:1px solid #ddd">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse0" aria-expanded="false" aria-controls="flush-collapse0">
                                How much does delivery cost?
                              </button>
                            </h2>
                            <div id="flush-collapse0" class="accordion-collapse collapse" aria-labelledby="flush-heading0" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">There is no minimum amount required to avail of free shipping on your order. We offer free shipping on all orders made through our website.</div>
                            </div>
                          </div>
                          
                          Accordion item 2 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Do I have gift wrap options?
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Yes. you have the option to get your order gift wrapped if you are buying it for someone else. There is a 50 rupees extra charge for gift wrapping.</div>
                            </div>
                          </div>

                           Accordion item  
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                What kind of canvas do you use?
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">We source from the best producers to provide you with premium quality prints. Our partners are one of the best in the country.</div>
                            </div>
                          </div>

                          Accordion item 4 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                What finish does your acrylic product have?
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Acrylic photo prints come with a gloss finish that looks exactly like q glass. However, acrylic is scratch-resistant and does not break like glass.</div>
                            </div>
                          </div>

                           Accordion item 5 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                What file formats can I upload?
                              </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">You can upload your images in jpeg, jpg, or png formats. Make sure they are of high resolution as the prints might get blurred with low-quality pictures.</div>
                            </div>
                          </div>

                         Accordion item 6  
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                How can I customize my phone cover?
                              </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">You can select custom font, text, background, and color for your phone covers. Our preview tool will show you how your finished product will look like and we will deliver exactly what you see on the screen.</div>
                            </div>
                          </div>

                          Accordion item 7 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSeven">
                              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                Are your phone covers shockproof?
                              </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Yes. we have shockproof covers available on our site for all the latest models of smartphones.</div>
                            </div>
                          </div>

                           Accordion item 8 
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingEight">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                What payment methods do you offer?
                              </button>
                            </h2>
                            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">We offer all modes of online payment such as credit card, debit card, net banking, phone pe,  G pay, UPI, Paytm via Razorpay.</div>
                            </div>
                          </div>
                           -->

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<!-- perallax Scroler End -->