<div class="container">
    <!-- Case search header start -->
    <div class="row" style="padding-top: 90px;">
        <div class="col-md-12 col-12">
            <div class="section-content">
                <div class="container section-title-container">
                    <h3 class="section-title section-title-center">
                        <b></b>
                        <span class="section-title-main">FIND YOUR PHONE CASE</span>
                        <b></b>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Case search header end -->
</div>


<!-- perallax Scroler Start -->
<div id="parallax-world-of-ugg">

    <section class="pb-5">
        <div class="container">
            <p class="top-p"><span>Define your style with a personally designed product from our store. It is
                    time to change the trend and elevate your style quotient. With our customization tools, you can
                    design your own products. From selecting the picture for printing to adding personal messages on
                    phone covers, we give you the opportunity to personalize your order to the last inch.</span></p>

            <p class="top-p"><span>It's never been easier to shop online from the comfort of your own home.
                    Trends may be brought to your home with a few simple actions. Begin by selecting your phone model,
                    since this will direct you to the appropriate template. After that, upload the photo you wish to be
                    printed on the back of your phone case. Try out a few different backgrounds and pick your favorite.
                    To complete the customization, add text, emoticons, quotes, and so on. Examine your completed work
                    and place your order by entering your information. That wraps up the shopping.</span></p>

            <p class="top-p"><span>Acrylic photo
                    prints in landscape, portrait, square-shaped orientations. Our innovative UV printing
                    technology distinguishes us as the top online retailer for acrylic photo prints in India. UV
                    printing is a sort of digital printing that uses ultraviolet (UV) light to almost rapidly dry or
                    cure the ink, adhesives, and varnishes once they've been put to the paper. Your image is printed
                    directly under the acrylic layer to give it a bright and sparkling appearance. With our designing
                    tool, it only takes a few clicks to order your customized product. We will take care of the
                    rest!</span></p>
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <div class="container">
                <h2>Why choose Q-Frame ?</h2>
                <p><span style="font-weight: 400">Whether it's photo paper, photo frames, matting-free picture frames,
                        or photo canvas, <strong>OMGs the premier photo printing service</strong>, only uses materials
                        from carefully selected partners to ensure the greatest quality. Our staff in our online photo
                        lab handles each step, from order to production, with the highest care.</span></p>

                <p><span style="font-weight: 400">We ensure that your orders are delivered to your home as quickly as
                        possible thanks to our nationwide presence. We've worked with some of India's leading courier
                        service companies, including Bluedart and Delhivery, to ensure that your items arrive on time.
                        The average delivery time for metro cities is 1-3 days, while delivery time for smaller
                        locations might range from 3 to 7 days following dispatch. More than 10000 evaluations and
                        recommendations attest to OMGs photo goods' perfect quality. You can find these in our reviews
                        section where our ever-increasing family narrates their experience.</span></p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="section-content pt-5">
                        <div class="container section-title-container">
                            <h3 class="section-title section-title-center">
                                <b></b>
                                <span class="section-title-main">FREQUENTLY ASKED QUESTIONS</span>
                                <b></b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-11 mx-auto">

                    <!-- Accordion -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">

                      <!-- Accordion item 1 Not doing *ngFor-->
                      <div style="border-bottom:1px solid #ddd"></div>
                      <div class="accordion-item" *ngFor="let qna of questions">
                        <h2 class="accordion-header" [id]="qna.idOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse'+qna.number" aria-expanded="false" [attr.aria-controls]="'qna.controls'+qna.controls">
                            {{qna.title}}
                          </button>
                        </h2>
                        <div [id]="qna.idSecond" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">{{qna.answ}}</div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<!-- perallax Scroler End -->