.borde{
    justify-content: center;
    text-align: center;
}
/* .toppage{
   justify-content:center;
   text-align:center;
   width:20%;
   height:20%; 
} */
.card{
    border:1px solid whitesmoke;
    /* border-radius:1arem; */
    /* display:flex; */
    /* flex-direction: column;  */
    overflow: hidden;
   
}

card-img-top{
    object-fit:cover;
    height: 20.5rem;
    overflow: hidden;
}
