.container row{
    display:flex;
    margin:12px;
    top:10px;
     
}

.card{
   text-align: center;
   margin:2px;
   display:flex;
   max-width:350px;
   position: relative;

}
.card-title{
   padding:4px;
   text-align:center;
   height:10px;
  
}
p{
   font-weight:700;
   font-size:14px;
}

